<!--start bread crumb -->
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>student Profile</h2>
        <ol class="breadcrumb">
            <li>
                <a href="<%= url_for :controller => 'dashboards', :action => 'dashboard_1' %>">Home</a>
            </li>
            <li>
                <a>App views</a>
            </li>
            <li class="active">
                <strong>student Profile</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">
    </div>
</div>
<!--end bread crumb -->


<div class="wrapper wrapper-content animated fadeInRight"> <!--start all content -->

<%= form_for @studentprofile, url: student_profiles_path(current_user) do |s| %>

<div class="row m-b-lg m-t-lg"> <!--start student information-->

    <div class="col-md-6"> <!--Left info -->
        <div class="profile-image">
            <img src="<%= image_path('a4.jpg') %>" class="img-circle circle-border m-b-md" alt="profile">
        </div>
        <div class="profile-info">
            <div class="">
                <div>
                    <h2 class="no-margins">
                        
x
                        xx
                    </h2>
                    <h4>xx</h4>
                    <small>xx</small>
                </div>
            </div>
        </div>
    </div> <!--end left info -->

    <div class="col-md-3"> <!--end right info -->
        <table class="table small m-b-xs">
            <tbody>
            <tr>
                <td>
                    <strong>Industry:</strong>
                    <br>yy
                </td>
                <td>
                    <strong>Country:</strong> yy
                </td>

            </tr>
            <tr>
                <td>
                    <strong>Employees</strong> yy
                </td>
                <td>
                    <strong>State:</strong> yy
                </td>
            </tr>
            <tr>
                <td>
                    <strong>Hiring Status:</strong>
                    <br>yy

                </td>
                <td>yy
                </td>
            </tr>
            </tbody>
        </table>
    </div> <!--end right info -->
    


</div> <!--end student info -->


<div class="row"> <!--start page widgets -->

    <div class="col-lg-3"> <!--sets col width for widgets when full screen -->

        <div class="ibox">
            <div class="ibox-content">
                <h3>Company Banner Img</h3>

                <p class="small">
                    yy
                </p>

            </div>
        </div>

        <div class="ibox">
            <div class="ibox-content">
                <h3>About yy</h3>

                <p class="small">
                    yy
                </p>

            </div>
        </div>

        <div class="ibox">
            <div class="ibox-content">
                <h3>Our People</h3>

                <p class="small">
                    studentprofile.ourpeople
                </p>

            </div>
        </div>

    </div> <!--end sets col width for widgets when full screen -->

<!-- Feed -->

    
<!-- Hiring Process -->

    <div class="col-lg-4 m-b-lg"> <!--start timeline -->
        <div id="vertical-timeline" class="vertical-container light-timeline no-margins">
            <div class="vertical-timeline-block">
                <div class="vertical-timeline-icon navy-bg">
                    <i class="fa fa-briefcase"></i>
                </div>

                <div class="vertical-timeline-content">
                    <h2>Meeting</h2>
                    <p>Conference on the sales results for the previous year. Monica please examine sales trends in marketing and products. Below please find the current status of the sale.
                    </p>
                    <a href="#" class="btn btn-sm btn-primary"> More info</a>
                                    <span class="vertical-date">
                                        Today <br>
                                        <small>Dec 24</small>
                                    </span>
                </div>
            </div>

            <div class="vertical-timeline-block">
                <div class="vertical-timeline-icon blue-bg">
                    <i class="fa fa-file-text"></i>
                </div>

                <div class="vertical-timeline-content">
                    <h2>Send documents to Mike</h2>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since.</p>
                    <a href="#" class="btn btn-sm btn-success"> Download document </a>
                                    <span class="vertical-date">
                                        Today <br>
                                        <small>Dec 24</small>
                                    </span>
                </div>
            </div>

            <div class="vertical-timeline-block">
                <div class="vertical-timeline-icon lazur-bg">
                    <i class="fa fa-coffee"></i>
                </div>

                <div class="vertical-timeline-content">
                    <h2>Coffee Break</h2>
                    <p>Go to shop and find some products. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's. </p>
                    <a href="#" class="btn btn-sm btn-info">Read more</a>
                    <span class="vertical-date"> Yesterday <br><small>Dec 23</small></span>
                </div>
            </div>

            <div class="vertical-timeline-block">
                <div class="vertical-timeline-icon yellow-bg">
                    <i class="fa fa-phone"></i>
                </div>

                <div class="vertical-timeline-content">
                    <h2>Phone with Jeronimo</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto, optio, dolorum provident rerum aut hic quasi placeat iure tempora laudantium ipsa ad debitis unde? Iste voluptatibus minus veritatis qui ut.</p>
                    <span class="vertical-date">Yesterday <br><small>Dec 23</small></span>
                </div>
            </div>

            <div class="vertical-timeline-block">
                <div class="vertical-timeline-icon navy-bg">
                    <i class="fa fa-comments"></i>
                </div>

                <div class="vertical-timeline-content">
                    <h2>Chat with Monica and Sandra</h2>
                    <p>Web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like). </p>
                    <span class="vertical-date">Yesterday <br><small>Dec 23</small></span>
                </div>
            </div>



        </div>



    </div> <!--end timeline -->

<!-- Graduates Following -->

</div> <!--end page widgets -->

    <%= s.hidden_field :user_id, :value => current_user.id %>

    <%= s.submit %>

 <% end %>

</div>
<!--end all content -->


<% content_for :javascript do %>

<script type="text/javascript">


$(function() {

    $("#sparkline1").sparkline([34, 43, 43, 35, 44, 32, 44, 48], {
        type: 'line',
        width: '100%',
        height: '50',
        lineColor: '#1ab394',
        fillColor: "transparent"
    });


});

</script>

<% end %>

