<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-10">
        <h2>Create Your Graduate Search</h2>
        <ol class="breadcrumb">
          <li>
            <a href="<%= url_for :controller => 'dashboards', :action => 'dashboard_1' %>">Dashboard</a>
          </li>
          <li>
            <a>Searches</a>
          </li>
          <li class="active">
            <strong>New Search</strong>
          </li>
        </ol>
  </div>
</div>


<div class="wrapper wrapper-content animated fadeInRight"> <!--  makes content fade in  -->
  <div class="row"> <!-- Starts the new section for the content -->
    <div class="col-lg-12">
      <div class="ibox float-e-margins">
            
        <div class="ibox-title"> <!-- new search box with toolkit -->
            <h5> Name the Search </h5>
            <div class="ibox-tools">
                <a class="collapse-link">
                    <i class="fa fa-chevron-up"></i>
                </a>
            </div>
        </div> <!-- end new search header with toolbox -->

        <div class="ibox-content"> <!-- searchbox content -->
          <div class="row"> 
            <div class="col-sm-12 b-r"> <!-- Begin Search -->
              

                <%= bootstrap_form_for @search, url: user_searches_path(current_user), html: {class: "pure-form"} do |s| %>
                        
                <%= s.hidden_field :userid, :value => current_user.id %>
                <%= s.hidden_field :saved, :value => false %>


                       
                <div class="field">
                  <%= s.text_field :searchname, label: "Search Name" %>
                </div>
            </div>
          </div>
        </div>

        <br></br>

        <div class="ibox-title"> <!-- new search box with toolkit -->
          <h5> From What Region Are You Looking for Grads? </h5>
          <div class="ibox-tools">
              <a class="collapse-link">
                  <i class="fa fa-chevron-up"></i>
              </a>
          </div>
        </div> <!-- end new search header with toolbox -->

        <div class="ibox-content"> <!-- searchbox content -->
          <div class="row"> 
            <div class="col-sm-12 b-r"> <!-- Begin Search -->

              <div class="field">
                <%= s.country_select :countryofdegree, priority_countries: ["AU"] %>
              </div>

               <div class="field">
                <%= s.select :state, @states.collect {|p| [ p.name ] }, include_blank: 'N/A' %>
              </div>
              
               <div class="field">
                <%= s.select :city, @cities.collect {|p| [ p.name ] }, include_blank: 'N/A' %>
              </div>
            </div>
          </div>
        </div>

        <br></br>

        <div class="ibox-title"> <!-- new search box with toolkit -->
          <h5> Personal </h5>
          <div class="ibox-tools">
              <a class="collapse-link">
                  <i class="fa fa-chevron-up"></i>
              </a>
          </div>
        </div> <!-- end new search header with toolbox -->

        <div class="ibox-content"> <!-- searchbox content -->
          <div class="row"> 
            <div class="col-sm-12 b-r"> <!-- Begin Search -->
              
                         
                <div class="field">
                  <%= s.select :language, @languages.collect {|p| [ p.name ] }, include_blank: 'N/A' %>
                </div>
                
                 
                <div class="field">
                  <P><%= s.text_field :livingin, size: 10 %> </p>
                </div>
                 
                <div class="field">
                  <P><%= s.text_field :age, size: 10 %> </p>
                </div>
                
                 <div class="field">
                    <%= s.form_group :gender, label: { text: "Gender" }, help: "Select gender for equality programs" do %>
                    <p></p>
                        <%= s.radio_button :gender, 0, label: "Male",   inline: true %>
                        <%= s.radio_button :gender, 6, label: "Female", inline: true %>
                      <% end %>
                </div>
            </div>
          </div>
        </div>
        
        <br></br>

        <div class="ibox-title"> <!-- new search box with toolkit -->
          <h5> What Calibre of University Results? </h5>
          <div class="ibox-tools">
              <a class="collapse-link">
                  <i class="fa fa-chevron-up"></i>
              </a>
          </div>
        </div> <!-- end new search header with toolbox -->

        <div class="ibox-content"> <!-- searchbox content -->
          <div class="row"> 
            <div class="col-sm-12 b-r"> <!-- Begin Search -->
            
                        
                        <div class="field">
                          <P><%= s.text_field :min_gpa, size: 10%> </p>
                          <P><%= s.text_field :max_gpa, size: 10%> </p>
                        </div>
                        
                        <div class="field">
                          <P><%= s.text_field :universityname, size: 10 %> </p>
                        </div>
                        
                        <div class="field">
                          <P><%= s.text_field :degree, size: 10 %> </p>
                        </div>
                        
                        <div class="field">
                          <P><%= s.text_field :degreetype, size: 10 %> </p>
                        </div>
                        
                        <div class="field">
                          <P><%= s.text_field :countryofdegree, size: 10 %> </p>
                        </div>
            </div>
          </div>
        </div>

          <br></br>

        <div class="ibox-title"> <!-- new search box with toolkit -->
          <h5> What Level of Work Experience Is Important? </h5>
          <div class="ibox-tools">
              <a class="collapse-link">
                  <i class="fa fa-chevron-up"></i>
              </a>
          </div>
        </div> <!-- end new search header with toolbox -->

        <div class="ibox-content"> <!-- searchbox content -->
          <div class="row"> 
            <div class="col-sm-12 b-r"> <!-- Begin Search -->       
              
                        
                        <div class="field">
                        <%= s.form_group :workexperience, label: { text: "Minimum Work Experience" }, help: "Select How Many Months of Work Experience" do %>
                        <p></p>
                            <%= s.radio_button :workexperience, 0, label: "0-6 Months", inline: true %>
                            <%= s.radio_button :workexperience, 6, label: "6-12 Months", inline: true %>
                            <%= s.radio_button :workexperience, 12, label: "12-18 Months", inline: true %>
                            <%= s.radio_button :workexperience, 18, label: "18+ Months", inline: true %>
                          <% end %>
                        </div>
                        
                        
                        <div class="field">
                          <P><%= s.text_field :wantstoworkin, size: 10 %> </p>
                        </div>
                        
                        
                        <div class="field">
                          <P><%= s.text_field :hasworkexperiencein, size: 10 %> </p>
                        </div>
                        
                        
                        <div class="field">
                          <P><%= s.text_field :permissiontoworkin, size: 10 %> </p>
                        </div>
                        
                        
                        <div class="field">
                          <P><%= s.text_field :currentlyemployed, size: 10 %> </p>
                        </div>
                        
                         <div class="field">
                          <P><%= s.text_field :referencesuponrequest, size: 10 %> </p>
                        </div>
                        
                         <div class="field">
                          <P><%= s.text_field :worktype, size: 10 %> </p>
                        </div>
            </div>
          </div>
        </div>

        <br></br>

        <div class="ibox-title"> <!-- new search box with toolkit -->
          <h5> What Co-Curricular Attributes Are Important? </h5>
          <div class="ibox-tools">
              <a class="collapse-link">
                  <i class="fa fa-chevron-up"></i>
              </a>
          </div>
        </div> <!-- end new search header with toolbox -->
            
        <div class="ibox-content"> <!-- searchbox content -->
          <div class="row"> 
            <div class="col-sm-12 b-r"> <!-- Begin Search -->
            
                    
          
                    <div class="field">
                    <%= s.form_group :monthsspentabroadworking, label: { text: "Minimum Months Spend Abroad Working" }, help: "Select how many months spent abroad working" do %>
                    <p></p>
                        <%= s.radio_button :monthsspentabroadworking, 0, label: "0-6 Months",   inline: true %>
                        <%= s.radio_button :monthsspentabroadworking, 6, label: "6-12 Months", inline: true %>
                        <%= s.radio_button :monthsspentabroadworking, 12, label: "12-18 Months", inline: true %>
                        <%= s.radio_button :monthsspentabroadworking, 18, label: "18+ Months", inline: true %>
                      <% end %>
                    </div>

                     <div class="field">
                    <%= s.form_group :monthsspentabroadliving, label: { text: "Minimum Months Spend Abroad Living" }, help: "Select how many months spent abroad living" do %>
                    <p></p>
                        <%= s.radio_button :monthsspentabroadliving, 0, label: "0-6 Months",   inline: true %>
                        <%= s.radio_button :monthsspentabroadliving, 6, label: "6-12 Months", inline: true %>
                        <%= s.radio_button :monthsspentabroadliving, 12, label: "12-18 Months", inline: true %>
                        <%= s.radio_button :monthsspentabroadliving, 18, label: "18+ Months", inline: true %>
                      <% end %>
                    </div>
                    
                 
                   <div class="field">
                    <%= s.form_group :charitywork, label: { text: "Has done charity work" }, help: "Select if charity work is relevant" do %>
                    <p></p>
                        <%= s.radio_button :charitywork, 0, label: "Less than 6 Months",   inline: true %>
                        <%= s.radio_button :charitywork, 6, label: "More than 6 Months", inline: true %>
                       
                      <% end %>
                    </div>
            </div>
          </div>
        </div>

        <br></br>
                   
        <div class="form-group">
        <%= s.submit "Search", class: "btn btn-lg btn-primary block full-width m-b" %>
        </div>
                 
        <% end %>
        <!-- End Search --> 

            </div> 
          </div> 
        </div> 

      </div>
    </div>
  </div>
</div>


 <% content_for :javascript do %>

<script type="text/javascript">



</script>

<% end %>


      
          
    