<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-10">
        <h2>Create Your Graduate Search</h2>
        <ol class="breadcrumb">
          <li>
            <a href="<%= url_for :controller => 'dashboards', :action => 'dashboard_1' %>">Dashboard</a>
          </li>
          <li>
            <a>Searches</a>
          </li>
          <li class="active">
            <strong>New Search</strong>
          </li>
        </ol>
  </div>
</div>


<div class="wrapper wrapper-content animated fadeInRight"> <!--  makes content fade in  -->
  <div class="row"> <!-- Starts the new section for the content -->
    <div class="col-lg-12">
      <div class="ibox float-e-margins">
            
        <div class="ibox-title"> <!-- new search box with toolkit -->
            <h5> Name the Search </h5>
            <div class="ibox-tools">
                <a class="collapse-link">
                    <i class="fa fa-chevron-up"></i>
                </a>
            </div>
        </div> <!-- end new search header with toolbox -->

        <div class="ibox-content"> <!-- searchbox content -->
          <div class="row"> 
            <div class="col-sm-12 b-r"> <!-- Begin Search -->
              

                <%= bootstrap_form_for @search, url: user_searches_path(current_user), html: {class: "pure-form"} do |s| %>
                        
                <%= s.hidden_field :userid, :value => current_user.id %>
                       
                <div class="field">
                  <%= s.text_field :searchname, label: "Search Name" %>
                </div>
            </div>
          </div>
        </div>

        <br></br>

        <div class="ibox-title"> <!-- new search box with toolkit -->
          <h5> From What Region Are You Looking for Grads? </h5>
          <div class="ibox-tools">
              <a class="collapse-link">
                  <i class="fa fa-chevron-up"></i>
              </a>
          </div>
        </div> <!-- end new search header with toolbox -->

        <div class="ibox-content"> <!-- searchbox content -->
          <div class="row"> 
            <div class="col-sm-12 b-r"> <!-- Begin Search -->

              <div class="field">
                <%= s.country_select :countryofdegree, priority_countries: ["AU"] %>
              </div>

               <div class="field">
                <%= s.select :state, @states.collect {|p| [ p.name ] }, include_blank: 'N/A' %>
              </div>
              
               <div class="field">
                <%= s.select :city, @cities.collect {|p| [ p.name ] }, include_blank: 'N/A' %>
              </div>
            </div>
          </div>
        </div>

        <br></br>

        <div class="ibox-title"> <!-- new search box with toolkit -->
          <h5> Personal </h5>
          <div class="ibox-tools">
              <a class="collapse-link">
                  <i class="fa fa-chevron-up"></i>
              </a>
          </div>
        </div> <!-- end new search header with toolbox -->

        <div class="ibox-content"> <!-- searchbox content -->
          <div class="row"> 
            <div class="col-sm-12 b-r"> <!-- Begin Search -->
              
                         
                <div class="field">
                  <%= s.select :language, @languages.collect {|p| [ p.name ] }, include_blank: 'N/A' %>
                </div>
                
                 
                <div class="field">
                  <P><%= s.text_field :livingin, size: 10 %> </p>
                </div>
                 
                <div class="field">
                  <P><%= s.text_field :age, size: 10 %> </p>
                </div>
                
                 <div class="field">
                    <%= s.form_group :gender, label: { text: "Gender" }, help: "Select gender for equality programs" do %>
                    <p></p>
                        <%= s.radio_button :gender, 0, label: "Male",   inline: true %>
                        <%= s.radio_button :gender, 6, label: "Female", inline: true %>
                      <% end %>
                </div>
            </div>
          </div>
        </div>
        
        <br></br>

        <div class="ibox-title"> <!-- new search box with toolkit -->
          <h5> What Calibre of University Results? </h5>
          <div class="ibox-tools">
              <a class="collapse-link">
                  <i class="fa fa-chevron-up"></i>
              </a>
          </div>
        </div> <!-- end new search header with toolbox -->

        <div class="ibox-content"> <!-- searchbox content -->
          <div class="row"> 
            <div class="col-sm-12 b-r"> <!-- Begin Search -->
            
                        
                        <div class="field">
                          <P><%= s.text_field :min_gpa, size: 10%> </p>
                          <P><%= s.text_field :max_gpa, size: 10%> </p>
                        </div>
                        
                        <div class="field">
                          <P><%= s.text_field :universityname, size: 10 %> </p>
                        </div>
                        
                        <div class="field">
                          <P><%= s.text_field :degree, size: 10 %> </p>
                        </div>
                        
                        <div class="field">
                          <P><%= s.text_field :degreetype, size: 10 %> </p>
                        </div>
                        
                        <div class="field">
                          <P><%= s.text_field :countryofdegree, size: 10 %> </p>
                        </div>
            </div>
          </div>
        </div>

          <br></br>

        <div class="ibox-title"> <!-- new search box with toolkit -->
          <h5> What Level of Work Experience Is Important? </h5>
          <div class="ibox-tools">
              <a class="collapse-link">
                  <i class="fa fa-chevron-up"></i>
              </a>
          </div>
        </div> <!-- end new search header with toolbox -->

        <div class="ibox-content"> <!-- searchbox content -->
          <div class="row"> 
            <div class="col-sm-12 b-r"> <!-- Begin Search -->       
              
                        
                        <div class="field">
                        <%= s.form_group :workexperience, label: { text: "Minimum Work Experience" }, help: "Select How Many Months of Work Experience" do %>
                        <p></p>
                            <%= s.radio_button :workexperience, 0, label: "0-6 Months", inline: true %>
                            <%= s.radio_button :workexperience, 6, label: "6-12 Months", inline: true %>
                            <%= s.radio_button :workexperience, 12, label: "12-18 Months", inline: true %>
                            <%= s.radio_button :workexperience, 18, label: "18+ Months", inline: true %>
                          <% end %>
                        </div>
                        
                        
                        <div class="field">
                          <P><%= s.text_field :wantstoworkin, size: 10 %> </p>
                        </div>
                        
                        
                        <div class="field">
                          <P><%= s.text_field :hasworkexperiencein, size: 10 %> </p>
                        </div>
                        
                        
                        <div class="field">
                          <P><%= s.text_field :permissiontoworkin, size: 10 %> </p>
                        </div>
                        
                        
                        <div class="field">
                          <P><%= s.text_field :currentlyemployed, size: 10 %> </p>
                        </div>
                        
                         <div class="field">
                          <P><%= s.text_field :referencesuponrequest, size: 10 %> </p>
                        </div>
                        
                         <div class="field">
                          <P><%= s.text_field :worktype, size: 10 %> </p>
                        </div>
            </div>
          </div>
        </div>

        <br></br>

        <div class="ibox-title"> <!-- new search box with toolkit -->
          <h5> What Co-Curricular Attributes Are Important? </h5>
          <div class="ibox-tools">
              <a class="collapse-link">
                  <i class="fa fa-chevron-up"></i>
              </a>
          </div>
        </div> <!-- end new search header with toolbox -->
            
        <div class="ibox-content"> <!-- searchbox content -->
          <div class="row"> 
            <div class="col-sm-12 b-r"> <!-- Begin Search -->
            
                    
          
                    <div class="field">
                    <%= s.form_group :monthsspentabroadworking, label: { text: "Minimum Months Spend Abroad Working" }, help: "Select how many months spent abroad working" do %>
                    <p></p>
                        <%= s.radio_button :monthsspentabroadworking, 0, label: "0-6 Months",   inline: true %>
                        <%= s.radio_button :monthsspentabroadworking, 6, label: "6-12 Months", inline: true %>
                        <%= s.radio_button :monthsspentabroadworking, 12, label: "12-18 Months", inline: true %>
                        <%= s.radio_button :monthsspentabroadworking, 18, label: "18+ Months", inline: true %>
                      <% end %>
                    </div>

                     <div class="field">
                    <%= s.form_group :monthsspentabroadliving, label: { text: "Minimum Months Spend Abroad Living" }, help: "Select how many months spent abroad living" do %>
                    <p></p>
                        <%= s.radio_button :monthsspentabroadliving, 0, label: "0-6 Months",   inline: true %>
                        <%= s.radio_button :monthsspentabroadliving, 6, label: "6-12 Months", inline: true %>
                        <%= s.radio_button :monthsspentabroadliving, 12, label: "12-18 Months", inline: true %>
                        <%= s.radio_button :monthsspentabroadliving, 18, label: "18+ Months", inline: true %>
                      <% end %>
                    </div>
                    
                 
                   <div class="field">
                    <%= s.form_group :charitywork, label: { text: "Has done charity work" }, help: "Select if charity work is relevant" do %>
                    <p></p>
                        <%= s.radio_button :charitywork, 0, label: "Less than 6 Months",   inline: true %>
                        <%= s.radio_button :charitywork, 6, label: "More than 6 Months", inline: true %>
                       
                      <% end %>
                    </div>
            </div>
          </div>
        </div>

        <br></br>
                   
        <div class="form-group">
        <%= s.submit "Search", class: "btn btn-lg btn-primary block full-width m-b" %>
        </div>
                 
        <% end %>
        <!-- End Search --> 

            </div> 
          </div> 
        </div> 

      </div>
    </div>
  </div>
</div>


 <% content_for :javascript do %>

<script type="text/javascript">


$(function() {

    var $image = $(".image-crop > img")
    $($image).cropper({
        aspectRatio: 1.618,
        preview: ".img-preview",
        done: function (data) {
            // Output the result data for cropping image.
        }
    });

    var $inputImage = $("#inputImage");
    if (window.FileReader) {
        $inputImage.change(function () {
            var fileReader = new FileReader(),
                    files = this.files,
                    file;

            if (!files.length) {
                return;
            }

            file = files[0];

            if (/^image\/\w+$/.test(file.type)) {
                fileReader.readAsDataURL(file);
                fileReader.onload = function () {
                    $inputImage.val("");
                    $image.cropper("reset", true).cropper("replace", this.result);
                };
            } else {
                showMessage("Please choose an image file.");
            }
        });
    } else {
        $inputImage.addClass("hide");
    }

    $("#download").click(function () {
        window.open($image.cropper("getDataURL"));
    });

    $("#zoomIn").click(function () {
        $image.cropper("zoom", 0.1);
    });

    $("#zoomOut").click(function () {
        $image.cropper("zoom", -0.1);
    });

    $("#rotateLeft").click(function () {
        $image.cropper("rotate", 45);
    });

    $("#rotateRight").click(function () {
        $image.cropper("rotate", -45);
    });

    $("#setDrag").click(function () {
        $image.cropper("setDragMode", "crop");
    });

    $('#data_1 .input-group.date').datepicker({
        todayBtn: "linked",
        keyboardNavigation: false,
        forceParse: false,
        calendarWeeks: true,
        autoclose: true
    });

    $('#data_2 .input-group.date').datepicker({
        startView: 1,
        todayBtn: "linked",
        keyboardNavigation: false,
        forceParse: false,
        autoclose: true
    });

    $('#data_3 .input-group.date').datepicker({
        startView: 2,
        todayBtn: "linked",
        keyboardNavigation: false,
        forceParse: false,
        autoclose: true
    });

    $('#data_4 .input-group.date').datepicker({
        minViewMode: 1,
        keyboardNavigation: false,
        forceParse: false,
        autoclose: true,
        todayHighlight: true
    });

    $('#data_5 .input-daterange').datepicker({
        keyboardNavigation: false,
        forceParse: false,
        autoclose: true
    });

    var elem = document.querySelector('.js-switch');
    var switchery = new Switchery(elem, { color: '#1AB394' });

    var elem_2 = document.querySelector('.js-switch_2');
    var switchery_2 = new Switchery(elem_2, { color: '#ED5565' });

    var elem_3 = document.querySelector('.js-switch_3');
    var switchery_3 = new Switchery(elem_3, { color: '#1AB394' });

    $('.i-checks').iCheck({
        checkboxClass: 'icheckbox_square-green',
        radioClass: 'iradio_square-green',
    });

    $('.demo1').colorpicker();

    var divStyle = $('.back-change')[0].style;
    $('#demo_apidemo').colorpicker({
        color: divStyle.backgroundColor
    }).on('changeColor', function (ev) {
                divStyle.backgroundColor = ev.color.toHex();
            });

    var config = {
        '.chosen-select': {},
        '.chosen-select-deselect': { allow_single_deselect: true },
        '.chosen-select-no-single': { disable_search_threshold: 10 },
        '.chosen-select-no-results': { no_results_text: 'Oops, nothing found!' },
        '.chosen-select-width': { width: "95%" }
    }
    for (var selector in config) {
        $(selector).chosen(config[selector]);
    }

    $(".select2_demo_1").select2();
    $(".select2_demo_2").select2();
    $(".select2_demo_3").select2({
        placeholder: "Select a state",
        allowClear: true
    });

    $(".touchspin1").TouchSpin({
        buttondown_class: 'btn btn-white',
        buttonup_class: 'btn btn-white'
    });

    $(".touchspin2").TouchSpin({
        min: 0,
        max: 100,
        step: 0.1,
        decimals: 2,
        boostat: 5,
        maxboostedstep: 10,
        postfix: '%',
        buttondown_class: 'btn btn-white',
        buttonup_class: 'btn btn-white'
    });

    $(".touchspin3").TouchSpin({
        verticalbuttons: true,
        buttondown_class: 'btn btn-white',
        buttonup_class: 'btn btn-white'
    });

    $("#ionrange_1").ionRangeSlider({
        min: 0,
        max: 5000,
        type: 'double',
        prefix: "$",
        maxPostfix: "+",
        prettify: false,
        hasGrid: true
    });

    $("#ionrange_2").ionRangeSlider({
        min: 0,
        max: 10,
        type: 'single',
        step: 0.1,
        postfix: " carats",
        prettify: false,
        hasGrid: true
    });

    $("#ionrange_3").ionRangeSlider({
        min: -50,
        max: 50,
        from: 0,
        postfix: "°",
        prettify: false,
        hasGrid: true
    });

    $("#ionrange_4").ionRangeSlider({
        values: [
            "January", "February", "March",
            "April", "May", "June",
            "July", "August", "September",
            "October", "November", "December"
        ],
        type: 'single',
        hasGrid: true
    });

    $("#ionrange_5").ionRangeSlider({
        min: 10000,
        max: 100000,
        step: 100,
        postfix: " km",
        from: 55000,
        hideMinMax: true,
        hideFromTo: false
    });

    $(".dial").knob();

    $("#basic_slider").noUiSlider({
        start: 40,
        behaviour: 'tap',
        connect: 'upper',
        range: {
            'min': 20,
            'max': 80
        }
    });

    $("#range_slider").noUiSlider({
        start: [40, 60],
        behaviour: 'drag',
        connect: true,
        range: {
            'min': 20,
            'max': 80
        }
    });

    $("#drag-fixed").noUiSlider({
        start: [40, 60],
        behaviour: 'drag-fixed',
        connect: true,
        range: {
            'min': 20,
            'max': 80
        }
    });

    $('.clockpicker').clockpicker();

    $('input[name="daterange"]').daterangepicker();

    $('#reportrange span').html(moment().subtract(29, 'days').format('MMMM D, YYYY') + ' - ' + moment().format('MMMM D, YYYY'));

    $('#reportrange').daterangepicker({
        format: 'MM/DD/YYYY',
        startDate: moment().subtract(29, 'days'),
        endDate: moment(),
        minDate: '01/01/2012',
        maxDate: '12/31/2015',
        dateLimit: { days: 60 },
        showDropdowns: true,
        showWeekNumbers: true,
        timePicker: false,
        timePickerIncrement: 1,
        timePicker12Hour: true,
        ranges: {
            'Today': [moment(), moment()],
            'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
            'Last 7 Days': [moment().subtract(6, 'days'), moment()],
            'Last 30 Days': [moment().subtract(29, 'days'), moment()],
            'This Month': [moment().startOf('month'), moment().endOf('month')],
            'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
        },
        opens: 'right',
        drops: 'down',
        buttonClasses: ['btn', 'btn-sm'],
        applyClass: 'btn-primary',
        cancelClass: 'btn-default',
        separator: ' to ',
        locale: {
            applyLabel: 'Submit',
            cancelLabel: 'Cancel',
            fromLabel: 'From',
            toLabel: 'To',
            customRangeLabel: 'Custom',
            daysOfWeek: ['Su', 'Mo', 'Tu', 'We', 'Th', 'Fr','Sa'],
            monthNames: ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'],
            firstDay: 1
        }
    }, function(start, end, label) {
        console.log(start.toISOString(), end.toISOString(), label);
        $('#reportrange span').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'));
    });

});

</script>

<% end %>


      
          
    