
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Basic Form</h2>
        <ol class="breadcrumb">
            <li>
                <a href="<%= url_for :controller => 'dashboards', :action => 'dashboard_1' %>">Dashboard</a>
        </li>
        <li>
            <a>Searches</a>
        </li>
        <li class="active">
            <strong>Recent Searches</strong>
        </li>
    </ol>
</div>
</div>


<div class="row">
<div class="col-lg-12">
<div class="wrapper wrapper-content animated fadeInUp">

    <div class="ibox">
        <div class="ibox-title">
            <h5>All recent student searches</h5>
            <div class="ibox-tools">
                <a href="" class="btn btn-primary btn-xs">Create new student search</a>
            </div>
        </div>
        <div class="ibox-content">
            <div class="row m-b-sm m-t-sm">
                <div class="col-md-1">
                    <button type="button" id="loading-example-btn" class="btn btn-white btn-sm"><i class="fa fa-refresh"></i> Refresh</button>
                </div>
                <div class="col-md-11">
                    <div class="input-group">
                        <input type="text" placeholder="Search" class="input-sm form-control"> <span class="input-group-btn">
                                    <button type="button" class="btn btn-sm btn-primary"> Go!</button>
                                </span>
                    </div>
                </div>
            </div>

            <div class="project-list">

                <table class="table table-hover">
                    <tbody>


                    <% if @recent.empty? %>
                    
                        <p> No Recent Searches</p>
                    
                     <% else %>
                    
                    <% @recent.each do |c| %>
                    
                        <tr>
                            <td class="project-status">
                                <% if c.saved == false %>
                                    <span> </span>
                                <% else %>
                                    <span class="label label-primary">Saved</span>
                                <% end %>

                            </td>
                            <td class="project-title">

                               <%= link_to c.searchname, user_search_path(current_user, c.id)%>

                            <br />
                            <small> Searched on <%= c.created_at.strftime("%a %d-%b-%Y") %> </small>
                            <br/>
                            <small> Updated on <%= c.updated_at.strftime("%d-%b-%Y") %> </small>
                        </td>
                        <td class="project-completion">
                            <small>Completion with: 48%</small>
                            <div class="progress progress-mini">
                                <div style="width: 48%;" class="progress-bar"></div>
                            </div>
                        </td>
                        <td class="project-people">
                            <a href=""><img alt="image" class="img-circle" src="<%= image_path('a3.jpg') %>"></a>
                            <a href=""><img alt="image" class="img-circle" src="<%= image_path('a1.jpg') %>"></a>
                            <a href=""><img alt="image" class="img-circle" src="<%= image_path('a2.jpg') %>"></a>
                            <a href=""><img alt="image" class="img-circle" src="<%= image_path('a4.jpg') %>"></a>
                            <a href=""><img alt="image" class="img-circle" src="<%= image_path('a5.jpg') %>"></a>
                        </td>
                        <td class="project-actions">
                            
                            <button type="button" class="btn btn-white btn-sm"><i class="fa fa-pencil"></i><%= link_to " View", user_search_path(current_user, c.id)%></button>

                        </td>
                        </tr>
                    
                    <% end %>
                    <% end %>


                    </tbody>
                </table>

        </div>
        </div>
        </div>
        </div>
        </div>
        </div>


