<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-9">
        <h2>Contacts</h2>
        <ol class="breadcrumb">
            <li>
                <a href="<%= url_for :controller => 'dashboards', :action => 'dashboard_1' %>">Home</a>
        </li>
        <li>
            App Views
        </li>
        <li class="active">
            <strong>Contacts</strong>
        </li>
    </ol>
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
<div class="row">

     <!-- Check if theres any students strudents -->
    <% if @search.search_students.empty? %>
        <p> No Students Found</p>

    <!-- Iterate through strudents -->
    <% else %>
        <% @search.search_students.each do |c| %>

        <div class="col-lg-4">
        <!-- Student Box -->
        <div class="contact-box" data-toggle="modal" data-target="#modal-<%= c.id %>">
            <!-- <a href="<%= url_for :controller => 'appviews', :action => 'profile' %>"> -->
                <!-- Image Section -->
                <div class="col-sm-4">
                    <div class="text-center">
                        <img alt="image" class="img-circle m-t-xs img-responsive" src="<%= image_path('a2.jpg') %>">
                        <div class="m-t-xs font-bold">Graphics designer</div>
                    </div>
                </div>
                <!-- Image Section -->
                <div class="col-sm-8">
                    <h3><strong><%= c.firstname %> <%= c.lastname %></strong></h3>
                    <p><i class="fa fa-map-marker"></i> Riviera State 32/106</p>
                    <address>
                        <strong>Twitter, Inc.</strong><br>
                        795 Folsom Ave, Suite 600<br>
                        <%= c.city %><br>
                        <strong>GPA:</strong> <%= c.gpa %>
                    </address>
                </div>
                Tick Box
                <div class="clearfix"></div>
            <!--</a> -->
        </div>
        </div>

        <!-- Modal -->
        
        <div class="modal fade bs-example-modal-lg" id="modal-<%= c.id %>" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
          <div class="modal-dialog modal-lg">
            <div class="modal-content">
              
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h3 class="modal-title" id="exampleModalLabel"><%=c.firstname%> <%=c.lastname%> </h3>
                </div>

            <div class="modal-body">
                
                <!-- student profile 2 page -->

                <div class="row m-b-lg m-t-lg">
                    <div class="col-md-5">

                        <div class="profile-image">
                            <img src="<%= image_path('a4.jpg') %>" class="img-circle circle-border m-b-md" alt="profile">
                        </div>
                        <div class="profile-info">
                            <div class="">
                                <div>
                                    <h2 class="no-margins">
                                        
                                        test

                                    </h2>
                                    <h4>s
                                    </h4>
                                    <small>
                                        s
                                    </small>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <table class="table small m-b-xs">
                            <tbody>
                            <tr>
                                <td>
                                    <strong>Industry:</strong> 
                                </td>
                                <td>
                                    <strong>Country:</strong> 

                            </tr>
                            <tr>
                                <td>
                                    <strong>Employees</strong> Comments
                                </td>
                                <td>
                                    <strong>State:</strong> test
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <strong>Hiring Status:</strong> 
                                    test
                                </td>
                                <td>
                                    <strong>City:</strong> test
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

            <!-- end top -->

            <div class="row">

    <div class="col-lg-3">

        <div class="ibox">
            <div class="ibox-content">
                <h3>Company Banner Img</h3>

                <p class="small">
                    text
                </p>

            </div>
        </div>

        <div class="ibox">
            <div class="ibox-content">
                <h3>About text</h3>

                <p class="small">
                   tesxt
                </p>

            </div>
        </div>

        <div class="ibox">
            <div class="ibox-content">
                <h3>Our People</h3>

                <p class="small">
                    test
                </p>

            </div>
        </div>

       

    </div>
</div>


 <!--  END student profile 2 page -->

            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" >Select Candidate</button>
              </div>


            </div>
          </div>
        </div>
        <!-- end modal -->

    <% end %>
    <% end %>

</div> <!-- end row -->
</div> <!-- end wrapper -->

<% content_for :javascript do %>

<script type="text/javascript">

$(function () {

    $('.contact-box').each(function () {
        animationHover(this, 'pulse');
    });

});

 $('#exampleModal').on('show.bs.modal', function (event) {
  var button = $(event.relatedTarget) // Button that triggered the modal
  var recipient = button.data('whatever') // Extract info from data-* attributes
  // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
  // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
  var modal = $(this)
  modal.find('.modal-title').text('New message to ' + recipient)
  modal.find('.modal-body input').val(recipient)
})

</script>

<% end %>

